[class*=tips--] {position:relative;display:inline-block}
[class*=tips--]:after,[class*=tips--]:before {position:absolute;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);visibility:hidden;opacity:0;z-index:10;pointer-events:none;-webkit-transition:.3s ease;-moz-transition:.3s ease;transition:.3s ease;-webkit-transition-delay:0s;-moz-transition-delay:0s;transition-delay:0s}
[class*=tips--]:hover:after,[class*=tips--]:hover:before {visibility:visible;opacity:1;-webkit-transition-delay:.1s;-moz-transition-delay:.1s;transition-delay:.1s}
[class*=tips--]:before {content:'';position:absolute;background:0;border:6px solid transparent;z-index:11}
[class*=tips--]:after {background:#206bc4;color:#fff;font-size:12px;line-height:12px;white-space:nowrap;padding:.5rem .75rem;border-radius:.375rem;box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)}
[class*=tips--][aria-label]:after {content:attr(aria-label)}
[class*=tips--][data-tips]:after {content:attr(data-tips)}
[aria-label='']:after,[aria-label='']:before,[data-tips='']:after,[data-tips='']:before {display:none !important}
.tips--top-left:before,.tips--top-right:before,.tips--top:before {border-top-color:#206bc4}
.tips--bottom-left:before,.tips--bottom-right:before,.tips--bottom:before {border-bottom-color:#206bc4}
.tips--top:after,.tips--top:before {bottom:100%;left:50%}
.tips--top:before {margin-bottom:-11px;left:calc(50% - 6px)}
.tips--top:after {-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}
.tips--top:hover:before {-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}
.tips--top:hover:after {-webkit-transform:translateX(-50%) translateY(-8px);-moz-transform:translateX(-50%) translateY(-8px);transform:translateX(-50%) translateY(-8px)}
.tips--bottom:after,.tips--bottom:before {top:100%;left:50%}
.tips--bottom:before {margin-top:-11px;left:calc(50% - 6px)}
.tips--bottom:after {-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}
.tips--bottom:hover:before {-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}
.tips--bottom:hover:after {-webkit-transform:translateX(-50%) translateY(8px);-moz-transform:translateX(-50%) translateY(8px);transform:translateX(-50%) translateY(8px)}
.tips--right:before {border-right-color:#206bc4;margin-left:-11px;margin-bottom:-6px}
.tips--right:after {margin-bottom:-14px}
.tips--right:after,.tips--right:before {left:100%;bottom:50%}
.tips--right:hover:after,.tips--right:hover:before {-webkit-transform:translateX(8px);-moz-transform:translateX(8px);transform:translateX(8px)}
.tips--left:before {border-left-color:#206bc4;margin-right:-11px;margin-bottom:-6px}
.tips--left:after {margin-bottom:-14px}
.tips--left:after,.tips--left:before {right:100%;bottom:50%}
.tips--left:hover:after,.tips--left:hover:before {-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);transform:translateX(-8px)}
.tips--top-left:after,.tips--top-left:before {bottom:100%;left:50%}
.tips--top-left:before {margin-bottom:-11px;left:calc(50% - 6px)}
.tips--top-left:after {-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);transform:translateX(-100%);margin-left:12px}
.tips--top-left:hover:before {-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}
.tips--top-left:hover:after {-webkit-transform:translateX(-100%) translateY(-8px);-moz-transform:translateX(-100%) translateY(-8px);transform:translateX(-100%) translateY(-8px)}
.tips--top-right:after,.tips--top-right:before {bottom:100%;left:50%}
.tips--top-right:before {margin-bottom:-11px;left:calc(50% - 6px)}
.tips--top-right:after {-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0);margin-left:-12px}
.tips--top-right:hover:after,.tips--top-right:hover:before {-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}
.tips--bottom-left:after,.tips--bottom-left:before {top:100%;left:50%}
.tips--bottom-left:before {margin-top:-11px;left:calc(50% - 6px)}
.tips--bottom-left:after {-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);transform:translateX(-100%);margin-left:12px}
.tips--bottom-left:hover:before {-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}
.tips--bottom-left:hover:after {-webkit-transform:translateX(-100%) translateY(8px);-moz-transform:translateX(-100%) translateY(8px);transform:translateX(-100%) translateY(8px)}
.tips--bottom-right:after,.tips--bottom-right:before {top:100%;left:50%}
.tips--bottom-right:before {margin-top:-11px;left:calc(50% - 6px)}
.tips--bottom-right:after {-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0);margin-left:-12px}
.tips--bottom-right:hover:after,.tips--bottom-right:hover:before {-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}
.tips--large:after,.tips--medium:after,.tips--small:after {white-space:normal;line-height:1.4em;word-wrap:break-word}
.tips--small:after {width:80px}
.tips--medium:after {width:150px}
.tips--large:after {width:300px}

body {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";}
a:hover{text-decoration: none;}
.pagination{margin-top:1rem;}
.vditor-reset{font: normal 1.1em system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;}
.vditor-reset p{font: normal 1.1em system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;}
@media (min-width: 576px) {
.hoverable .item-actions {
  opacity: 0;
  transition: opacity 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .hoverable .item-actions {
    transition: none;
  }
}
.hoverable:hover .item-actions {
  opacity: 1;
}

}
@media (max-width: 768px) {
h2, .h2 {
  font-size: 1rem;
}
}
.hoverable:hover{
	background-color: rgba(27,125,241,.02);
}
.form-control:focus ,.form-select:focus,.form-check-input:focus,.btn-check:focus + .btn,.btn:focus,.page-link:focus,.btn-close:focus,.input-group-flat:focus-within,.form-colorinput-input:focus ~ .form-colorinput-color ,.form-imagecheck-input:focus ~ .form-imagecheck-figure,.form-selectgroup-input:focus + .form-selectgroup-label {
  box-shadow:none;
}

.bom {position:absolute;top:0;left:0;bottom:-7rem;right:0;border-top-left-radius:3px !important;border-top-right-radius:3px !important;}
.bom:nth-child(1) {background:linear-gradient(238deg,rgb(130,255,0) 0%,rgb(0,84,166) 100%);animation:move 12s infinite linear;}
.bom:nth-child(2) {background:linear-gradient(238deg,rgb(33,200,69) 0%,rgb(0,0,100) 100%);mix-blend-mode:overlay;animation:move 60s infinite linear;}
.bom:nth-child(3) {background:linear-gradient(238deg,rgb(200,255,255) 48%,rgb(3,0,151) 100%);mix-blend-mode:multiply;animation:move 60s infinite linear;}
.bom:nth-child(4) {background:radial-gradient(100% 85% at 0% 100%,rgb(0,0,0) 0%,rgb(0,131,255) 50%,rgb(255,0,0) 100%);mix-blend-mode:difference;animation:move 60s infinite linear;}
.bom:nth-child(5) {background:radial-gradient(100% 225% at 0% 100%,rgb(255,0,0) 0%,rgb(66,255,0) 100%);mix-blend-mode:difference;animation:move 60s infinite linear;}
.bom:nth-child(6) {background:radial-gradient(100% 140% at 100% 0%,rgb(0,134,62) 0%,rgb(0,239,255) 50%,rgb(0,113,186) 100%);mix-blend-mode:overlay;animation:move 60s infinite linear;}
@keyframes move {0% {filter:unset;}
100% {filter:hue-rotate(360deg);}
}
